body 
{
	background-color: white;
	text-align: center;
}
.header 
{
	color: 	black;
	font-size: 30px;
	font-family: Impact;
}
p 
{

	color: black;
	font-size: 60px;
}

#clock 
{
	background-color: 	#DBDBDB;
	border: 1px solid black;
}
.cold
{
	background-color: #95A5A6
}
.chilly
{
	background-color: #1ABC9C
}
.nice
{
	background-color: #2980B9
}
.warm
{
	background-color: #E67E22
}
.hot
{
	background-color: #E74C3C
}